<p id="notice"><%= notice %></p>

<h1>Listing Wines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Winery</th>
      <th>Varietal</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td><%= wine.name %></td>
        <td><%= wine.winery %></td>
        <td><%= wine.varietal %></td>
        <td><%= link_to 'Show', wine %></td>
      </tr>
    <% end %>
  </tbody>
</table>