<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wine.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @wine.year %>
</p>

<p>
  <strong>Winery:</strong>
  <%= @wine.winery %>
</p>

<p>
  <strong>Country:</strong>
  <%= @wine.country %>
</p>

<p>
  <strong>Varietal:</strong>
  <%= @wine.varietal %>
</p>

<%= link_to 'Edit', edit_wine_path(@wine), class: 'btn' %> | 
<%= link_to 'Delete', @wine, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %> | 
<%= link_to 'Show All Wines', wines_path, class: 'btn' %>
